*{
 margin: 0;
 padding: 0;
}

html{
    width: 100vw;
    height: 100vh;
}
a {font-family: 'Karla', sans-serif;font-size: 18px;color: #1ee900;}

/* CSS which you need for blurred box */
body{
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-position: top;
/*background-image:url("pics/4.jpg");*/
 width: 100%;
 height: 100%;
 font-family: 'Itim', cursive;
 letter-spacing: 0.02em;
  font-weight: 400;
 -webkit-font-smoothing: antialiased; 
 font-size: 28px;
}
h3 {font-family: 'Rammetto One', cursive;;font-size: 17px;color: #94ff94;}
.blurred-box{
  position: relative;
  width: 449px;
  height: 607px;
  top: calc(50% - 175px);
  left: calc(50% - 125px);
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
  
  color: #fff;
  border: 4px double rgba(255,255,255,0.3);
    background: rgba(0,0,0,0.3);
}

.blurred-box:after{
 content: '';
 width: 501px;
 height: 559px;
 background: inherit; 
 position: absolute;
 left: -25px;
 left position
 right: 0;
 top: -25px;  
 top position 
 bottom: 0;
 box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
 filter: blur(10px);
 top: 93px;
}
.login-heading {
    margin: 27px 233px 0px 0px;
    font-size: 23px;
font-family: 'Shadows Into Light', cursive;}
.user-login-box{
  position: relative;
  margin-top: 50px;
  text-align: center;
  z-index: 1;
}
.user-login-box > *{
  display: inline-block;
  width: 200px;
}

.user-icon{
  width: 100px;
  height: 51px;
  position: relative;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("pics/logo.png");
}

.user-name{
  margin-top: 67px;
  margin-bottom: 0px;
  color: white;
}

input.email{
  width: 204px;
height: 31px;
opacity: 0.8;
border-radius: 2px;
padding: 4px 14px;
border: 0;
font-size: 16px;

}

.Password{margin-top: 67px;
  margin-bottom: 0px;
  color: white;}
.passwordbar { width: 204px;
height: 31px;
opacity: 0.8;
border-radius: 2px;
padding: 4px 14px;
border: 0;
font-size: 16px;}
.btn {
    border: 1px solid transparent;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
}

.btn-submit {
    padding: 0px 0px -5px 10px;
    font-size: 19px;
    color: #ffffff;
    background-color: #18bc9c;
    border-color: #18bc9c;
    margin-top: 2.5em;
}
a {margin: 22px 5px 15px 9px;}
.menu {
    position: relative;
    width: 1598px;
    height: 504px;
    top: calc(50% - 175px);
    left: calc(50% - 125px);
    background: inherit;
    border-radius: 2px;
    overflow: hidden;
    margin: -637px -429px 50px -676px;
}
.menu::after {
    content: '';
    width: 1902px;
    height: 632px;
    background: inherit;
    position: absolute;
    left: -25px;
    left position right: 0;
    top: -25px;
    top position bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(151, 154, 160,0.05);
    filter: blur(10px);
    top: 93px;
}
.user-iconM {
    width: 100px;
  height: 51px;
  position: relative;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("pics/logo.png");
}
* { 
  box-sizing: border-box; 
}
html {
  margin: 0;
  background-size: cover;
  background: url("pics/last.jpg") no-repeat center center fixed;
  background-blend-mode: darken;
  // blend mode optional at this stage; will be used more in the next demo.
  transition: 3s;
}
body { margin: 0; }

@media all and (max-width: 770px) {
    div#texttop { display: none; }
}